footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D9B3D3;
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.5rem 0 1.5rem;
}

footer a{
    color: #fff;
    text-decoration: none;
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #333;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .box-container .box img{
    margin-top: 1rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    color:#333;
    border-top: .1rem solid rgba(0, 0, 0, 0.1);
}