nav {
    display: flex;
    position: fixed;
    top: 0;
    background-color: #D9B3D3;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 15px;
    margin-top: 20px;
    font-size: 0.8em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
    font-family:'Merriweather', serif;
    font-weight: 700;
}

nav ul li:first-child {
    margin-right: auto;
    margin-left: -10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #d9b3d3b3;
}

nav li {
    font-size: 1em;
}

li a {
    font-family: 'Merriweather', serif;
}

a {
    font-family: 'Glacial Indifference', sans-serif; 
}

.topnav {
    display: flex; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    justify-content: start; 
    padding: 7px 0 7px 10px;
    align-items: center; 
    z-index: 1001;
    width: 100vw;
    margin: 0; 
}

.topnav a {
    color: white;
    font-size: 0.6em;
    text-decoration: none;
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
nav ul li a:hover {
    background-color: #d9b3d3b3;
}